* {
    font-family: 'LatoRegular', serif;
}

html, body {
    width: 100%;
    height: 100%;
}


a {
    text-decoration: none !important;
    color: #000;
    font-weight: bold;
}

a:hover, a:active {
    text-decoration: none !important;
    color: #DD3726;
    font-weight: bold;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333746;
}

.MuiInputLabel-shrink-171 {
    color: #44C2D2 !important;
}

.MuiInput-underline-186:after {
    border-bottom-color:  #44C2D2 !important;
}